html {
    border-top: 2px solid Blue;
}

body {
    background-color: #333 !Important;
    margin: auto;
    color: whitesmoke;
}

table {
    display: block !important;
}

td {
    border-style: none !important;
}

/* Header Section */

#header {
    background-color: #181818;
    height: 6em;
}

#header .title {
    display: block;
    height: 100%;
    line-height: 3em !important;
    color: whitesmoke;
}

#header .breadcrumb {
    color: whitesmoke;
}

#header a:link,
#header a:visited {
    color: whitesmoke;
}

#header a:hover {
    background-color: dodgerblue;
    color: #333;
}


/* Navigation */

#navigation {
    font-size: 13px;
    top: 7rem !important;
    width: 1476px;
}

#navigation ul {
    padding: 0;
}

#navigation li {
    background-color: #333;
    float: left;
    margin: 0;
    border: 2px solid #222;
}

#navigation li a {
    display: block;
    text-align: center;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    padding: 0px !important;
}

#navigation li a:link,
#navigation li a:visited {
    background-color: #333;
    border-bottom: 1px none Black;
    border-left: 12px none Blue;
    border-right: 1px none Black;
    color: whitesmoke;
}

#navigation a:hover {
    background-color: DodgerBlue !important;
    color: #333;
}

#navigation li ul {
    display: none;
    width: 120px;
    position: relative;
    z-index: 99 !important;
}

#navigation li:hover ul {
    display: block;
}

#navigation li ul a {
    border: 2px solid #181818;
}

/* Main Content */
#ctl00_MainContent_Panel1 {
    width: 200px;
    padding-left: 10px;
}

#ctl00_MainContent_Image1 {
    padding-left: 8px;
}

#ctl00_MainContent_upMarquee img {
    width: 997px;
    border-radius: 1rem 1rem 0 0;
}

#ctl00_MainContent_tbQueueLabel0 {
    height: 3rem;
    text-align: center;
    background-color: #181818 !important;
    color: whitesmoke !important;
    border-radius: 1rem 1rem 0 0;
}

#ctl00_MainContent_gvNPSRankings tr {
    height: 1.5rem;
}

#ctl00_MainContent_gvNPSRankings {
    border-radius: 0 0 1rem 1rem;
}

#ctl00_MainContent_gvNPSRankings tr:last-child td:last-child {
    border-radius: 0 0 1rem 0;
}

#ctl00_MainContent_gvNPSRankings tr:last-child td:first-child {
    border-radius: 0 0 0 1rem;
}

#ctl00_MainContent_gvNPSRankings tr td:first-child {
    padding-left: .5rem;
}

#ctl00_MainContent_upTechChat {
    width: 997px;
}

#ctl00_MainContent_Panel3 table {
    margin-left: 0 !important;
    margin-top: 4px !important;
    width: 997px !important;
}

#content {
    margin-left: 13em;
    margin-top: 5em;
}

#ctl00_MainContent_UpdatePanel1 div:nth-child(2) {
    top: 170px !important;
    z-index: 50 !important;
}

#ctl00_MainContent_UpdatePanel1 div:nth-child(1) {
    top: 200px !important;
    left: max(calc(100vw - 350px), 1230px) !important;
}

#ctl00_MainContent_UpdatePanel1 table table tr:last-child td:last-child {
    border-radius: 0 0 1rem 0;
}

#ctl00_MainContent_UpdatePanel1 table table tr:last-child td:first-child {
    border-radius: 0 0 0 1rem;
}

#ctl00_MainContent_btnClientImage {
    display: none;
}

#content span > table {
    margin-top: 11px !important;
    width: 997px !important;
}

#content span > table table {
    width: 997px !important;
    color: black;
}