body {
    background-color: #333 !Important;
    border-top: 2px solid Blue;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 2em;
}

/* Header Section */

#header {
    background-color: #181818;
    border-bottom: 1px dotted #B51032;
    border-top: 3px solid Blue;
    height: 6em;
}

#header .title {
    display: block;
    height: 100%;
    line-height: 3em !important;
    background-color: transparent;
    color: whitesmoke;
    float: left;
    font: 170% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
    margin-left: .8em;
    margin-right: 2em;
    margin-top: 0.3em;
}

#header .breadcrumb {
    background-color: transparent;
    color: whitesmoke;
    float: right;
    font: 90% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    margin-right: 2em;
    margin-top: 0.8em;
}

#header a:link,
#header a:visited {
    color: whitesmoke;
}

#header a:hover {
    background-color: dodgerblue;
    color: #333;
}

/* Footer */

#footer {
    /*background-color: #B51032; */
    background-color: Blue;
    border-top: Black;
    bottom: 0;
    color: #FFFFFF;
    height: 1.5em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#footer a:link,
#footer a:visited {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 80%;
    padding: 0.8em 1em 0.5em 1em;
}


/* Navigation */

#navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

    position: absolute;
    left: 1em;
    top: 7rem !important;

    width: 100%;
}

#ctl00_MainContent_btnClientImage {
    display: none;
}

#navigation ul {
    font-style: italic;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    background-color: #333;
    float: left;
    margin: 0;
    border: 2px solid #222;
}

#navigation li a {
    display: block;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
}

#navigation li a:link,
#navigation li a:visited {
    background-color: #333;
    border-bottom: 1px none Black;
    border-left: 12px none Blue;
    border-right: 1px none Black;
    color: #FFFFFF;

    display: block;
    list-style: inside;
    list-style-position: inside;
    text-decoration: #b51032;
}

#navigation a:hover {
    background-color: DodgerBlue !important;
    color: #333;
}

#navigation li ul {
    display: none;
    width: 120px;
    position: relative;
    z-index: 99 !important;
}

#navigation li:hover ul {
    display: block;
}

#navigation li ul a {
    border: 2px solid #181818;
}

/* Main Content */

#ctl00_MainContent_upMarquee img {
    width: 997px;
    border-radius: 1rem 1rem 0 0;
}

#ctl00_MainContent_UpdatePanel1 div:nth-child(2) {
    top: 140px !important;
    z-index: 50 !important;
}

#ctl00_MainContent_UpdatePanel1 div:nth-child(1) {
    top: 180px !important;
    left: max(calc(100vw - 350px), 1230px) !important;
}

#ctl00_MainContent_tbQueueLabel0 {
    height: 3rem;
    text-align: center;
    background-color: #181818 !important;
    color: whitesmoke !important;
    border-radius: 1rem 1rem 0 0;
}

#ctl00_MainContent_gvNPSRankings tr {
    height: 1.5rem;
}

#ctl00_MainContent_gvNPSRankings {
    border-radius: 0 0 1rem 1rem;
}

#ctl00_MainContent_gvNPSRankings tr:last-child td:last-child {
    border-radius: 0 0 1rem 0;
}

#ctl00_MainContent_gvNPSRankings tr:last-child td:first-child {
    border-radius: 0 0 0 1rem;
}

#ctl00_MainContent_gvNPSRankings tr td:first-child {
    padding-left: .5rem;
}

#ctl00_MainContent_upTechChat {
    width: 997px;
}

#content {
    margin-left: 13em;
    margin-right: 2em;
    margin-top: 3.5em !important;
}

h1 {
    font: 150% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
}

#content p {
    font-size: 80%;
    line-height: 1.6em;
}

table {
    margin-top: 2px !important;
    display: block !important;
}

td {
    border-style: none !important;
}

#ctl00_MainContent_UpdatePanel1 table table tr:last-child td:last-child {
    border-radius: 0 0 1rem 0;
}

#ctl00_MainContent_UpdatePanel1 table table tr:last-child td:first-child {
    border-radius: 0 0 0 1rem;
}

/*Modal Popup*/

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #ffffdd;
    border-color: Gray;
    border-style: solid;
    border-width: 3px;
    padding: 3px;
    width: 250px;
}

.sampleStyleA {
    background-color: #FFF;
}

.sampleStyleB {
    background-color: #FFF;
    font-family: monospace;
    font-size: 10pt;
    font-weight: bold;
}

.sampleStyleC {
    background-color: #ddffdd;
    font-family: sans-serif;
    font-size: 10pt;
    font-style: italic;
}

.sampleStyleD {
    background-color: Blue;
    color: White;
    font-family: Arial;
    font-size: 10pt;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.50;
}

.updateProgress {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    height: 65px;
    position: absolute;
    width: 180px;
}

.container {
    height: 35px;
    left: -1px;
    margin: 65px auto 0px auto;
    position: relative;
    top: 49px;
    width: 478px;
}

.left-element {
    height: 24px;
    left: 79px;
    position: absolute;
    top: 1px;
    width: 23%;
}

.right-element {
    height: 35px;
    position: absolute;
    right: 4px;
    top: 0px;
    width: 58%;
}